$screen-tablet: 1280px;
$screen-phone: 767px;

* {
  outline: none;
}

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  outline: none;
  font-size: 62.5%;
}

._hide-on-desktop {
  @media (min-width: 1281px) {
    display: none!important;
  }
}

.article-block {
  display: flex;
  flex-direction: row;
  max-width: 1160px;
  flex-wrap: wrap;
  width: 100%;
  margin: 2rem auto 0;
  justify-content: space-between;

  @media (max-width: $screen-tablet) {
    width: 89%;
  }

  @media (max-width: $screen-phone) {
    width: 95%;
  }
}

.article-block-item {
  width: 31%;
  margin-right: 40px;

  &:nth-child(3n) {
    margin-right: 0;
  }

  @media (max-width: $screen-tablet) {
    width: 47%;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  @media (max-width: $screen-phone) {
    width: 100%;

    &:nth-child(n) {
      margin-right: 0;
    }

    margin-bottom: 5rem;
  }
}

.header-sticky {
  width: 100%;
}

.header-top {
  width: 100%;
  height: 82px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__list {
    max-width: 1160px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;

    @media (max-width: $screen-tablet) {
      width: 95%;
    }
  }

  &__menu,
  &__logo,
  &__search {
    cursor: pointer;
  }

  &__logo {
    @media (max-width: $screen-tablet) and (max-width: $screen-phone) {
      visibility: visible;
      margin-right: auto;
    }

    @media (max-width: $screen-tablet) {
      margin-left: 2rem;
    }

    @media (max-width: $screen-phone) {
      margin-left: 0;
    }
  }

  &__menu {
    visibility: hidden;

    @media (max-width: $screen-tablet) {
      display: none;
    }
  }

  &__search {
    @media (max-width: $screen-tablet) {
      visibility: hidden;
    }

    @media (max-width: $screen-phone) {
      display: none;
    }
  }
}

.article-block-note {
  &__date,
  &__views {
    color: #9B9B9B;
  }

  &__date {
    &:before,
    &:after {
      content: '⠂';
    }
  }
}

.header-sticky-bottom {
  height: 59px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  position: sticky;
  top: 0;
  transform: translateY(-40px);
  transition: all .35s ease;

  &._sticky {
    transform: translateY(0);
    opacity: 1;
  }

  &._without-sticky {
    transform: translateY(-50px);
    opacity: 0;
  }

  @media (max-width: $screen-tablet) {
    display: none;
  }
}

.header-top,
.header-sticky-bottom {
  &:after {
    content: "";
    display: block;
    width: 100%;
    background-color: #e1e1e1;
    height: 1px;
    left: 0;
    right: 0;
    position: absolute;
    bottom: 0;
    z-index: -1;
  }
}

.header-sticky-list {
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: row;
  max-width: 542px;
  width: 100%;
  margin: 0 auto;
  font-size: 1.6rem;
  justify-content: space-around;

  &__item {
    position: relative;

    &_hover:hover {
      .submenu {
        opacity: 1;
        height: auto;
        visibility: visible;
        display: block;
        transition-delay: 0s;
      }
    }

    &:last-child {
      &:after {
        display: none;
      }
    }

    &:after {
      content: "";
      position: absolute;
      right: -1.4rem;
      top: .4rem;
      transform: rotate(-45deg);
      width: 7px;
      height: 7px;
      border-left: .1px solid #000;
      border-bottom: .1px solid #000;
      transition: all .3s ease;
    }

    a {
      text-decoration: none;
      color: #000;
    }
  }
}

.article-block-category {
  margin-bottom: 2.6rem;
}

.article-block-image-wrapper img {
  width: 100%;
  display: block;
  margin-bottom: 1.6rem;
}

.submenu {
  visibility: hidden;
  opacity: 0;
  height: auto;
  transition: all .2s linear .3s;
  border: 1px solid #e1e1e1;
  list-style: none;
  width: 176px;
  text-align: left;
  padding: .5rem 1.2rem;
  z-index: 9;
  background-color: #fff;
  position: absolute;
  top: 37px;
  left: 2%;
  margin: 0;
  transition-delay: 0.2s;

  &__item {
    border-bottom: 1px solid #e1e1e1;
    z-index: 999;
    padding: 1rem;
    margin: 0 .7rem;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      right: 5px;
      top: 12px;
      transform: rotate(-135deg);
      width: 7px;
      height: 7px;
      border-left: .1px solid #000;
      border-bottom: .1px solid #000;
      transition: all .3s ease;
    }

    &:last-child {
      border-bottom: none;
    }

    :hover {
      color: #969696;
      transition: all .3s ease;
      padding-left: .7rem;

      .submenu {
        opacity: 1;
        height: auto;
        visibility: visible;
        display: block;
        transition-delay: 0s;
      }
    }

    a {
      font-size: 1.3rem;
    }
  }
}


#nav-container {
  position: absolute;
  height: 100vh;
  width: 95%;
  pointer-events: none;
}

#nav-container .bg {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: calc(100% - 70px);
  visibility: hidden;
  opacity: 0;
  transition: .3s;
  background: #000;

  @media (max-width: $screen-tablet) {
    top: 54px;
  }
}

#nav-container:focus-within .bg {
  visibility: visible;
  opacity: .6;
}

#nav-container * {
  visibility: visible;
}

.button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  border: 0;
  background: transparent;
  border-radius: 0;
  width: 30px;
  cursor: pointer;
  pointer-events: auto;
  touch-action: manipulation;
  margin-left: auto;
  -webkit-tap-highlight-color: rgba(0,0,0,0);


  @media (max-width: $screen-tablet) {
    margin-right: 2.8rem;
  }

  @media (max-width: $screen-phone) {
    margin-right: 0;
  }
}

.icon-bar {
  display: block;
  width: 100%;
  height: 3px;
  background: #000000;
  transition: .3s;
}

.icon-bar + .icon-bar {
  margin-top: .5rem;
}

.nav-container {
  &:focus-within .button {
    pointer-events: none;
  }

  &:focus-within .icon-bar:nth-of-type(1) {
    transform: translate3d(0, 8px, 0) rotate(45deg);
  }

  &:focus-within .icon-bar:nth-of-type(2) {
    opacity: 0;
  }

  &:focus-within .icon-bar:nth-of-type(3) {
    transform: translate3d(0, -8px, 0) rotate(-45deg);
  }
}


#nav-container:focus-within .icon-bar:nth-of-type(3) {
  transform: translate3d(0, -8px, 0) rotate(-45deg);
}

#nav-content {
  padding: 3.0rem;
  width: 70%;
  max-width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 70px);
  background: #ffffff;
  pointer-events: auto;
  transform: translateX(-100%);
  transition: transform .3s;
  will-change: transform;
  contain: paint;
  color: #000000;
  margin-top: 5.4rem;
  margin-left: -.3rem;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#nav-content ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style: none;
}

#nav-content li {
  border-bottom: 1px solid #E9E9E9;

  &:last-child {
    border-bottom: none;
  }
}

#nav-content li a {
  padding: 1rem .5rem;
  display: inline-block;
  transition: color .1s;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: normal;
  position: relative;
  color: #000000;

  &:after {
    content: "";
    position: absolute;
    right: -1.5rem;
    top: 1.3rem;
    transform: rotate(-45deg);
    width: 7px;
    height: 7px;
    border-left: .1px solid #000;
    border-bottom: .1px solid #000;
    transition: all .3s ease;
  }

  &:hover {
    color: #BF7497;
  }
}


#nav-container:focus-within #nav-content {
  transform: none;
}
